[hub]
protocol = https

[user]
    name = Rob Wilson
	email = r.wilson@calendly.com

[alias]
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    conflicts = diff --name-only --diff-filter=U
    mylog = !git log --author="$(git config user.email)"
    mylg = !git lg --author="$(git config user.email)"
    diffc = diff --cached
    co = checkout
    st = status

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[push]
    default = current
